<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Test Task</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p>

    <p>For Task #1 give me:<br />
    taskNumber=0<br />
    userID=(0 - 49)</p>
    <p>For Task #2 give me:<br />
    taskNumber=1<br />
    levelID=(0 - 49)</p>
    <p>For Task #3 give me:<br />
    taskNumber=2<br />
    userID<br />
    levelID<br />
    result</p>

    <p th:utext="${result}" />
</body>
</html>